---
http_interactions:
- request:
    method: post
    uri: https://api.pricefinder.com.au/v1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=pricefinder&client_secret=password&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tokenKey":"e9935bc441a497b8a291cb965d4ea","tokenType":"bearer","expiresIn":-1,"issuedAt":-1,"parameters":{}}'
  recorded_at: Wed, 09 Aug 2017 02:02:02 GMT
recorded_with: VCR 3.0.3
